{%- assign share_title = "Share on" -%}
{%- assign twitter = site.data.blog.social_share[1] -%}

<div class="my-3">
    <h5 class="m-0 p-0">{{ share_title }}</h5>
    <hr />
    <a class="text-twitter mr-3 p-0" href="https://twitter.com/intent/tweet?{% if twitter.username %}via={{ twitter.username | url_encode }}&{% endif %}text={{ page.title | url_encode }}%20{{ page.url | absolute_url | url_encode }}" onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="{{ share_title }} Twitter"><i class="fab fa-fw fa-twitter" aria-hidden="true"></i><span> Twitter</span></a>
</div>
